{% extends 'afriventapp/event_app/layout.html' %}
{% load static %}

{% block content %}

    <main class="center-flex">
            <h1 class="text-center text-white">Register</h1>
        <form class="account-form container" action="" method="POST">
                {% csrf_token %}
                <div class="form-group col-md-12">
                    {%  include 'account/includes/form.html' %}
                </div>
                 
                    <div class="align_center ">
                    <button type="submit" class="btn btn-primary account_btn">Sign Up</button>
                    </div>  
                    <div class="align_center afri_text_color ">
                    <a class="align_center afri_text_color " href="{% url 'account:login'%}"> Sign In </a> | 
                    <a class="align_center afri_text_color" href="{% url 'password_reset' %}">Forgot Password? </a>
                </div>

                </form>
 

    </main>

{% endblock %}