{% extends 'afriventapp/layout.html' %}
{% load static %}
{% load event_extras %}
{% block title%} {{event.name | title }} Tickets | Afrivent {% endblock %}

    {% block body %}
    <main>


        <section id="event-box">       

            <div class="event-container">
                  
    
                
              <div class="main-event-details">
            <div class="event-image">
                <img class="img-fluid" src="{{event.event_image.url}}" alt="">
            </div>
            <div class="event-details">
            <div class="card">
                    <div class="card-header event-date">
                           <p>Date: {{event.end_date}}</p>
                           {% if request.user == event.creator.user %}
                           <a href="{% url 'afrivent:edit-event' event.slug %}">Edit Event</a>
                           {% endif %}
                    </div>
                    <div class="card-body" style="background-color: #f7f7f7">
                      <h5 class="card-title">{{event.event_name}} </h5>
                     <p> <strong>Event Creator:</strong><small class="card-text"> {{event.creator | title}}</small></p> 
                     <p> <strong>Price:</strong><small class="">₦ {{ticket_price_range.min_price |floatformat}} -  ₦ {{ticket_price_range.max_price |floatformat}}</small> </p>

                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" id="ticket-modal" data-toggle="modal" data-target="#exampleModalCenter">
                        Get Tickets
                      </button>

                      <!-- Modal -->

                      <div class="modal-grid">
                        
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalCenterTitle" class="align_center">Register</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body modal-grid">

                                <div class="order-calc-grid">
                                    <img src="{{event.event_image.url}}" class="img-thumbnail order-img" >
                                    <!-- Ticket Type: <p class="ticketType"></p>
                                    Total: <p class="total_amount"> </p> -->
                                    <div class="col-sm-12">
                   
                                        <div class="order-details-wrapper">
                                            <!-- <h2>your order</h2> -->
                                            <div class="order-details">
                                                <form action="#">
                                                    <ul>
                                                        <li><p class="strong">product</p><p class="strong">total</p></li>
                                                        <li><p class="ticketType">  <p class="ticketTypeAmount"></p></li>
                                                        <li><p class="strong">order total</p ><p class="strong total_amount "></p></li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                        
                                    </div>
                                  </div>


<!--                             
                            <div class="event_ticket_modal">
     
                              <select name="" id=""></select>
                            </div> -->


                            <form method="post" id="orderForm" method="POST">
                                <p>Sales end: {{event.ticket_sales_end_date}}</p>
                                {% csrf_token %}
                                {% for ticket in tickets  %}
                              <div class="form-group" id="order-form">
                                <h4 style="display: inline">{{ticket.type}}</h4>
                                <p>₦ {{ticket.amount}}</p>
    
    
                                 <select  class="form-control quantity-calc" required>
                                  <option

                                  data-type='{{ticket.id}}' data-quantity="0"
                                  data-price="0"
                                  data-event="{{event.id}}"
                                  data-ticket_name="{{ticket.type}}"
                                  
                                  value="0"></option>

                                  {% for quantity in ticket.quantity|range_value %}


                                  <option  data-type='{{ticket.id}}' data-quantity="{{forloop.counter0}}"
                                   data-price="{{ticket.amount}}"
                                   data-event="{{event.id}}"
                                   data-ticket_name="{{ticket.type}}"> {{forloop.counter0}}</option>
                                  <!-- <input type="hidden" value="{{ticket.amount}}" -->
                                  {% endfor %}
                                </select>
                              </div>
                              {% endfor %}

                              <button type="submit" class="btn btn-danger">Place Order</button>
                            
                            </form>


                            
                            </div>
                            
                          </div>
                        </div>
                
                      </div>

                       

                        </div>
                        <!--Modal End-->

                      <br>
                     {% if user.is_authenticated and request.user == event.creator.user %}
                     <h5>Ticket Availability</h5>
                     {% for ticket in tickets  %}
                       <p> <strong>{{ticket}} ({{ticket.quantity}})</strong></p>
                     {% endfor %}
                     {% endif %}
                    </div>
                    
                  </div>
        </div>
        
        </div>
        

        <div class="event-description">
            
            <div class="description">
                <h3>About this event</h3>
                  <p>
                    {{event.description | linebreaksbr}}
                  </p>

                    
            </div>

            <div class="date-location-info">
              <div class="event__date__time"> 
                <strong class="date_time">Date And Time</strong>
                  <p class="date__time">{{event.start_date | date:"D, d M Y"}}, {{event.start_time | title}} - {{event.end_date | date:"D, d M Y"}}, {{event.end_time | title}} </p>

                  <!-- <a href="#">Add to calendar</a> -->
              </div>

              <div class="event__location">

                <strong>Location:</strong>
                  <p> {{event.address}} </p>
                  <a href="#">View Map</a>

              </div>
                    
            </div>
        </div>


        </div>  <!--Container closing div-->
        </section>
      
        <section class="event_list">
                <h2>Other Events Happeneing Soon</h2>
                <div class="card-deck col-md-12 animated bounce delay-10s">
                        
                 <section class="upcoming-events">
                        <div class="jumbotron">
                            <div class="container mt-4">
                                <div class="">
                             
                               
                                <div class="row">
                                    {% for event in events %}
                                    <div class="col-auto mb-3">
                                        <div class="card" style="width: 18rem;">
                                            <a href="" class="event-date-a">{{event.start_date}}</a>

                                            <img src="{{event.event_image.url}}" class="card-img-top img-fluid custom-image-height" alt="{{event.event_name}}">
                                            <div class="card-body">
                                                <a href="{{event.get_absolute_url}}" class="card-title event-name">{{event.event_name}}</a>
                                                <p class="event-location">{{event.address}}</p>
                                            </div>
                                        </div>
                                    </div>
                         
                                    {% endfor %}
                                </div>
                            </div>

                            </div>


                                </div>
                            </section>
                          </div>
    
        </section>

    </main>

    {% endblock %}