{% extends 'afriventapp/layout.html' %}
{% load static %}
{% load event_extras %}
{% block title%} {{event.name | title }} Tickets | Afrivent {% endblock %}

    {% block body %}
    <main>


        <section id="event-box">

            <div class="event-box-hero">
                <img class="img-fluid" src="{{event.event_image.url}}"  alt="">
            </div>

            <div class="event-container">
                
              <div class="main-event-details">
            <div class="event-image">
                <img class="img-fluid" src="{{event.event_image.url}}" alt="">
            </div>
            <div class="event-details">
            <div class="card">
                    <div class="card-header event-date">
                           <p>Date: 17th <span>Sept</span> 2018</p>
                           <a href="{% url 'afrivent:edit-event' event.slug %}">Edit Event</a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{event.name}} </h5>
                      <p class="card-text">{{event.creator | title}}</p>
                      <p class="card-text">Price <small class="">₦ {{ticket_price_range.min_price |floatformat}} -  ₦ {{ticket_price_range.max_price |floatformat}}</small></p>

                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Register
                      </button>

                      <!-- Modal -->

                      <div class="modal-grid">
                        
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalCenterTitle" class="align_center">Register</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body modal-grid">

                                <div class="order-calc-grid">
                                    <img src="{{event.event_image.url}}" class="img-thumbnail order-img" >
                                    Ticket Type: <p class="ticketType"></p>
                                    Total: <p class="total_amount"> </p>
                                  </div>


<!--                             
                            <div class="event_ticket_modal">
     
                              <select name="" id=""></select>
                            </div> -->


                            <form method="post" id="orderForm" method="POST">
                                <p>Sales end {{event.end_date_time}}</p>
                                {% csrf_token %}
                                {% for ticket in tickets  %}
                              <div class="form-group" id="order-form">
                                <h4 style="display: inline">{{ticket.type}}</h4>
                                <p>₦ {{ticket.amount}}</p>
    
    
                                 <select  class="form-control quantity-calc">
                                  {% for quantity in ticket.quantity|range_value %}
                                  <option  data-type='{{ticket.id}}' data-quantity="{{forloop.counter0}}"
                                   data-price="{{ticket.amount}}"
                                   data-event="{{event.id}}"
                                   value="{{ticket.amount}}">{{forloop.counter0}}</option>
                                  <!-- <input type="hidden" value="{{ticket.amount}}" -->
                                  {% endfor %}
                                </select>
                              </div>
                              {% endfor %}

                              <button type="submit" class="btn btn-danger">Submit</button>
                            
                            </form>


                            
                            </div>
                            
                          </div>
                        </div>
                
                      </div>

                       

                        </div>
                        <!--Modal End-->


                    </div>
                  </div>
        </div>
        
        </div>
        

        <div class="event-description">
            
            <div class="description">
                <h3>About this event</h3>
                  <p>
                    {{event.description | linebreaksbr}}
                  </p>

                    
            </div>

            <div class="date-location-info">
              <div class="event__date__time"> 
                <p class="date_time">Date And Time</p>
                  <p class="date__time">Fri, Oct 11, 2019, 9:00 AM –Sat, Oct 12, 2019, 5:00 PM WAT</p>
                  <a href="#">Add to calendar</a>
              </div>

              <div class="event__location">

                <p>Location:</p>
                  <p> {{event.address}} </p>
                  <a href="#">View Map</a>

              </div>
                    
            </div>
        </div>


        </div>  <!--Container closing div-->
        </section>
      
        <section class="event_list">
                <h2>EVENTS in "other location"</h2>
                <div class="card-deck col-md-12 animated bounce delay-10s">
                        <div class="card">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <div class="card">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <div class="card">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>

                      <div class="card-deck col-md-12">
                            <div class="card">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
    
        </section>

    </main>

    {% endblock %}