{% extends 'afriventapp/layout.html' %}
{% load static %}
    {% block body %}

<main>
    <section class="upcoming-events">
        <div class="jumbotron">
            <div class="container mt-4">
                <div class="center-event-grid">
                    <div class="upcoming-event-text">
                            <h2 class="display-4 text-center"> Showing results for  <em>"{{query}}"</em></h2>
                            <p class="lead text-center">
                    </div>
                
                <div class="row">
                    {% for event in events %}
                    <div class="col-auto mb-3">
                        <div class="card" style="width: 18rem;">
                            <a href="" class="event-date-a">{{event.start_date}}</a>

                            <img src="{{event.event_image.url}}" class="card-img-top img-fluid" alt="{{event.event_name}}">
                            <div class="card-body">
                                <a href="{{event.get_absolute_url}}" class="card-title event-name">{{event.event_name}}</a>
                                <p class="event-location">{{event.address}}</p>
                            </div>
                        </div>
                    </div>
            
                    {% endfor %}
                </div>
            </div>

            </div>

                
                </div>
            </section>
                

</main>


    {% endblock %}