{% extends 'afriventapp/event_app/layout.html' %}
{% load static %}
    {% block content %}

    
    <div class="site-blocks-cover inner-page-cover overlay"
    data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">

          <h1 class="text-white">Showing results for  <em>"{{query}}"</em></h1>
    
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
        {% if events %}
      <div class="row">
    
          {% for event in events %}
          <div class="col-md-8 col-lg-4 mb-3" data-aos="fade-up" data-aos-delay="100">
              <a href="{{event.get_absolute_url}}" class="unit-9">
                <div class="image" style="background-image: url('{{event.event_image.url}}');"></div>
                <div class="unit-9-content">
                  <h2>{{event.event_name}}</h2>
                  <span>{{event.start_date}}</span>
                  <span>Created by {{event.creator}} </span>
                </div>
              </a>
            </div>
        {% endfor %}
      </div>
  
    </div>
  
    <div class="container mt-5" data-aos="fade-up">
        <nav aria-label="paginator">
            <ul class="pagination justify-content-center">
                {% if events.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ events.previous_page_number }}" tabindex="-1">Previous</a>
                  </li>
              {% endif %}
              
              <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            
              {% if events.number != 1 %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{events.number}} <span class="sr-only">(current)</span></a>
              </li>
              {% endif %}

              {% if events.has_next %}                      
              <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}"> {{events.next_page_number}}</a></li>
              
              <li class="page-item">
                <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
              </li>

              <li class="page-item">
                    <a class="page-link" href="?page={{ events.paginator.num_pages }}">last</a>
            </li>
              {% endif %}
            </ul>
          </nav>
    </div>
    {% else %}
    <p>No event found. Try another search term</p>
{% endif %}
  </div>
  

    {% endblock %}


    <div class="site-blocks-cover inner-page-cover overlay"
    data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">

          <h1 class="text-white">Showing results for  <em>"{{query}}"</em></h1>
          <p>All the events happening near you</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
          {% for event in events %}
          <div class="col-md-8 col-lg-4 mb-3" data-aos="fade-up" data-aos-delay="100">
              <a href="{{event.get_absolute_url}}" class="unit-9">
                <div class="image" style="background-image: url('{{event.event_image.url}}');"></div>
                <div class="unit-9-content">
                  <h2>{{event.event_name}}</h2>
                  <span>{{event.start_date}}</span>
                  <span>Created by {{event.creator}} </span>
                </div>
              </a>
            </div>
        {% endfor %}
      </div>
  
    </div>
  
    <div class="container mt-5" data-aos="fade-up">
        <nav aria-label="paginator">
            <ul class="pagination justify-content-center">
                {% if events.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ events.previous_page_number }}" tabindex="-1">Previous</a>
                  </li>
              {% endif %}
              
              <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            
              {% if events.number != 1 %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{events.number}} <span class="sr-only">(current)</span></a>
              </li>
              {% endif %}

              {% if events.has_next %}                      
              <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}"> {{events.next_page_number}}</a></li>
              
              <li class="page-item">
                <a class="page-link" href="?page={{ events.next_page_number }}">Next</a>
              </li>

              <li class="page-item">
                    <a class="page-link" href="?page={{ events.paginator.num_pages }}">last</a>
            </li>
              {% endif %}
            </ul>
          </nav>

    </div>
  </div>
  
