{% extends 'afriventapp/layout.html' %}
{% load static %}
{% load event_extras %}
{% block title%} {{user_profile.user.first_name | title }} Dashboard | Afrivent {% endblock %}

    {% block body %}
    <main class="container events-dashboard">
    <section class="user-details">

        <div class="jumbotron text-center">
            <h2 class="">Hi, {{user_profile.user.first_name}}</h2>
            <h1 class="display-3">Welcome to your dashboard!</h1>
            <p class="lead"><strong>You have ₦{{user_profile.balance}} in your wallet.</strong> <button class="btn btn-sm btn-success">Request payout now!</button></p>
            <hr>
          </div>





    </section>



    <section class="myEvents">

        <h3>Events You Created</h3>  
            <div class="row">
                {% for event in events %}
                
                    <div class="col-md-6">
                      <div class="card ">
                        <img src="{{event.event_image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">
                          <a href="{{ event.get_absolute_url }}">{{event}}</a>
                           </h5>
                          <p class="card-text">Ticket Types: {{ticket}} </p>
                          <p class="card-text">Event Date: {{event.start_date_time}} </p>
                          
                <!-- Button trigger modal -->
                <button value={{event.id}} type="button" class="btn btn-primary orderDetails" data-toggle="modal" data-target="#exampleModalLong"> <i class="fa fa-history" aria-hidden="true"></i> See order History</button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                {{orderDetails}}
                                {{user_profile.user.username}}
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                            
                        </div>
                      </div>
                      </div>
                    {% endfor %}
            </div> 



        
       
    
    </section>

    <section class="tickets">


    

        <h3>Registered Events</h3>

            <div class="row">
                {% for ticket in tickets %}
                {% if ticket.order.payment_confirmation %}
                    <div class="col-md-4">
                      <div class="card">
                        <img class="card-img-top" src="{{ticket.order.event.event_image.url}}">
  
                        <div class="card-body">
                          <h5 class="card-title">
                          <a href="{{ ticket.order.event.get_absolute_url }}">{{ticket.order}}</a>
                           </h5>
                          <p class="card-text">Ticket Type: {{ticket}} </p>
                          <p class="card-text">Event Date: {{ticket.order.event.start_date_time}} </p>
                          <a href="{{ ticket.order.event.get_absolute_url }}" class="btn btn-primary">Print Details</a>
                            
                        </div>
                      </div>
                      </div>
                      {% endif %}
                    {% endfor %}
            </div>
                    
    </section>


    

    <section class="failedTickets">
        <h3>Failed Orders</h3>
            <div class="row">
                    {% for order in orders %}
                    {% if not order.payment_confirmation%}
                        <div class="col-md-4">
                          <div class="card">
                            <img src="{{order.event.event_image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">
                              <a href="{{ order.event.get_absolute_url }}">{{order}}</a>
                               </h5>
                              <p class="card-text">Ticket Type: {{order}} </p>
                              <p class="card-text">Event Date: {{order.event.start_date_time}} </p>
                              <p>Total Amount: ₦{{order.total_cost}}</p>
                              <p>Order Created Date: {{order.created}}
                              <a href="{{order.authorization_url}}" class="btn btn-primary">Pay Again</a>
                                
                            </div>
                          </div>
                          </div>
                          {% endif %}
                        {% endfor %}
                </div>
                        

    </section>
`

    </main>

    {% endblock %}