{% extends 'afriventapp/event_app/layout.html' %}
{% load static %}
{% load event_extras %}
{% block title%} Payment Success{% endblock %}

{% block stylesheet %} 
<link rel="stylesheet" href="{% static 'css/ticket.css' %}"> 
<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">

{% endblock %}

    {% block content %}
  <div class="confirm-order-class">
    <div class="container">
      <div class="successTicket">
        <div class="">
          <h1 class="text-center">Payment Successful!</h1>
          <p class="lead text-center"><strong>Please check your email</strong> for further the ticket details on how to get to the event with ease.</p>
          <hr>
          {% include 'order/ticket.html' %}

        </div>
      </div>
    </div>

</div>


  {% endblock %}

  {% block script%}

  <script src="  https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <script src="{% static 'js/order.js' %}"></script>

  {% endblock %}

